// Navigation Styles here
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;

    a {
        display: flex;
        font-size: 14px;
        text-decoration: none;
        color: black;
     }

    @media @mobile {
        display: flex;
        flex-wrap: wrap;
    }
}

.header-text {
    margin-right: 20%;

    @media @mobile {
        display: flex;
        margin-left: 40%;
    }
}

 